// font sizes
$font-small:      0.625rem;
$font-base:       1rem;

// font weights
$font-light:      100;
$font-regular:    400;

// colors
$lightest-gray: #E5E5E5;
$lighter-gray:  #DBDBDB;
$light-gray:    #C6C6C6;
$medium-gray:   #A8A8A8;
$dark-gray:     #787878;
$darker-gray:   #676767;
$darkest-gray:  #5E5E5E;

$error:         #900;